JSON_flow_Heart Failure Prediction.json
[{"id":"b15b24eb.e9f5f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5f4d8bf5.b86144","type":"debug","z":"b15b24eb.e9f5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":360,"wires":[]},{"id":"ba17f58.2124b08","type":"function","z":"b15b24eb.e9f5f8","name":"pre-token","func":"global.set(\"ah\",msg.payload.ah)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"e\",msg.payload.e)\nvar apikey=\"m-N2-Sm6EvDRYK3emKG_KNHpnbMfAf069i7fkBVoT1Yj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["51fb652f.caaa6c"]]},{"id":"51fb652f.caaa6c","type":"http request","z":"b15b24eb.e9f5f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":432.00000381469727,"y":264.00000286102295,"wires":[["7abb7a42.47de84","1c618e6f.26a7e2"]]},{"id":"7abb7a42.47de84","type":"debug","z":"b15b24eb.e9f5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"1c618e6f.26a7e2","type":"function","z":"b15b24eb.e9f5f8","name":"Pre Prediction","func":"var ah = global.get(\"ah\")\nvar p = global.get(\"p\")\nvar c = global.get(\"c\")\nvar b = global.get(\"b\")\nvar ag = global.get(\"ag\")\nvar sx = global.get(\"sx\")\nvar fh = global.get(\"fh\")\nvar s = global.get(\"s\")\nvar e = global.get(\"e\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\" ,\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"]],\"values\": [[ah,p,c,b,ag,sx,fh,s,e]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624.0000076293945,"y":216.0000021457672,"wires":[["42d92e48.c4f8e"]]},{"id":"42d92e48.c4f8e","type":"http request","z":"b15b24eb.e9f5f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/bf9777b9-9ed6-4963-a09f-542e2e90d691/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":240,"wires":[["80235dbd.b7824","9d90e4f8.3d52c8"]]},{"id":"80235dbd.b7824","type":"debug","z":"b15b24eb.e9f5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1002.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"a630a8c9.ef4418","type":"inject","z":"b15b24eb.e9f5f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["ba17f58.2124b08"]]},{"id":"404d4ecd.7d03e","type":"debug","z":"b15b24eb.e9f5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":833.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"9d90e4f8.3d52c8","type":"function","z":"b15b24eb.e9f5f8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":679.6000595092773,"y":148.00000190734863,"wires":[["404d4ecd.7d03e","15cb3d91.182782"]]},{"id":"15cb3d91.182782","type":"ui_text","z":"b15b24eb.e9f5f8","group":"ecc94c53.32ff4","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"b96332ed.08bb6","type":"ui_form","z":"b15b24eb.e9f5f8","name":"","label":"","group":"ecc94c53.32ff4","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"ah","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"p","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"sx","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"s","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"e","type":"number","required":true,"rows":null}],"formValue":{"ah":"","p":"","c":"","b":"","ag":"","sx":"","fh":"","s":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["5f4d8bf5.b86144","ba17f58.2124b08"]]},{"id":"ecc94c53.32ff4","type":"ui_group","z":"","name":"Heart Rate prediction","tab":"4b02de3d.084e9","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b02de3d.084e9","type":"ui_tab","z":"b15b24eb.e9f5f8","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]